name: Bonjour
on:
  - push
jobs:
  dire_bonjour:
    runs-on: ubuntu-22.04
    container: docker/whalesay:latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Maven
        uses: stCarolas/setup-maven@v.4.5
        with: 
          maven-version: 3.8.6
      - name: Setup Java JDK
        with:
          distribution: 'temurin' 
          java-version: '17'
        uses: actions/setup-java@v3.10.0
      - name: Build application
        run: mvn compile
      - name: Package application
        run: mvn package

        

      

